<nav class="navbar-default navbar-static-side" role="navigation">
    <!-- sidebar-collapse -->
    <div class="sidebar-collapse">
        <!-- side-menu -->
        <ul class="nav" id="side-menu">
            <li>
                <!-- user image section-->
                <div class="user-section">
                    <div class="user-section-inner">
                        <img src="/Assets/admin/assets/img/user.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <div>Kun <strong>Kun</strong></div>
                        <div class="user-text-online">
                            <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Admin
                        </div>
                    </div>
                </div>
                <!--end user image section-->
            </li>
            <li class="selected">
                <a href="/Admin/Home"><i class="fa fa-dashboard fa-fw"></i>Trang chủ</a>
            </li>
            <li>
                <a href="/Admin/TaiKhoan"><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý tài khoản</a>
            </li>
            <li>
                <a href="/Admin/SanPham"><i class="fa fa-flask fa-fw"></i>Quản lý sản phẩm</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Quản lý đơn hàng <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/Admin/HoaDonBan">Quản lý hóa đơn bán</a>
                    </li>
                    <li>
                        <a href="/Admin/HoaDonNhap">Quản lý dóa đơn nhập</a>
                    </li>
                </ul>
                <!-- second-level-items -->
            </li>
        </ul>
        <!-- end side-menu -->
    </div>
    <!-- end sidebar-collapse -->
</nav>